# Catch all for files that should not ever be found here
*.exe
*.zip

# Mac OSX folder metadata attributes
*.DS_Store
*__MACOSX/

# Booster's Lab files in case someone has BL inside the XML "hacks" folder
# (This makes it easy to visually test hacks)
*.jar
XML (BL Hackinator or BPP)/help/
editor.rect
XML (BL Hackinator or BPP)/README.md
XML (BL Hackinator or BPP)/*.txt
*.bat
nofun

# Allow a private subfolder for hacks
XML (BL Hackinator or BPP)/hacks/_PRIVATE/
Hex Patches/_PRIVATE/
Doukutsu Assembler/_PRIVATE/
